<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>申請狀態通知信</title>
</head>
<body>
    <div class="container">
        <p>{{username}}使用者，您好: </p>
        <ul>
            <li>
                申請單狀態：已處理。
            </li>

            <li>
                科目：{{subject}}
            </li>

            <li>
                領取時間：{{pickUp_Date}} {{pickUp_Time}}
            </li>
        </ul>
        
        <p>

            您所申請的列印資料已完成，請依照填寫的時間至進修部教務組領取。
            <br />
            若有問題，煩請致電承辦人員（分機#7014），謝謝！
            <br />
        </p>
        <p style="text-align: right">進修部教務組 敬上</p>
    </div>
    
</body>
</html>
