@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>
        頁面不存在 - 線上列印申請系統
    </title>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <div class="container" style="text-align: center; margin-top: 25px">
        <h1 style="font-weight: bolder">
            404
        </h1>

        <p style="font-size: 28px; color: red">
            你所尋找的頁面不存在
        </p>
    </div>
</body>